<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles/layout.css" /> 
	<link rel="stylesheet" href="styles/style.css" />
	<title> OLADIMEJI .O. AWOSANYA - Accountant/Python Developer</title>
	<meta charset="UTF-8" />
	<meta name="description" content="Example of HTML5 header element with multiple sections. Content outside the header markup is part of the last subsection." />
	
	<!-- FACEOOK META -->
	<meta property="og:image" content="https://developer.cdn.mozilla.net/static/img/opengraph-logo.dc4e08e2f6af.png">
	<meta property="og:description" content="This is my Personal Website where i share what i encounter on the web or study in which it might be of help to you... It's also a medium of sharing my curiousity about life ...">
	<meta property="og:title" content="Oladimeji .O. Awosanya Website's">
	
	<!-- TWITTER META -->
	<meta name="twitter:title" content="Oladimeji .O. Awosanya Website's">
	
	<!-- ICON -->
	<link rel="shortcut icon" href="faviconNnn.ico" type="image/x-icon">
	
</head>
<body>
	 <!-- HEADER THINGS -->
	<div>
		<svg id="svgelem" height="40" xmlns="http://www.w3.org/2000/svg" id="logoHeader1">
		<circle id="redcircle" cx="50" cy="50" r="50" fill="red" />
		</svg>
		<h1 id="headerText"><img src="images/MYLOGO.png" /><img src="images/head1.jpg" style="width:29%;" /><img src="images/navImage1.jpg" id="logoHeader" usemap="#Map" /></h1>
		<!-- NAVIGATING USING MAPPING -->
		<map name="Map">
			<area shape="rect" coords="40,10,70,70" href="index.html" alt="Home" border="1" >
			<area shape="rect" coords="72,10,106,70" href="About-Me.html" alt="About Me" border="1">
			<area shape="rect" coords="108,10,149,70" href="My-Portfolio" alt="My-Portfolio" border="1">
			<area shape="rect" coords="152,10,225,73" href="blogs-Oladimeji-Awosanya.html" alt="My_Blogs" border="1">
		</map>
	</div>
	 <!-- FRONTPAGE THINGS -->
	<div id="aboutMeMainPage">
	<br/>
		<div id="aboutMePageSub1">
			<img src="images/headline.png" id="aboutMeHeadline" />
			<br/>
			<p class="headerParagraphy"><span class="headHolder">Who is He ? </span><br/><br/>
			Oladimeji's personality has the unmistakable presence of nobility. Moving with the unruffled calm of a cat and the dignified gait of someone in command, He respect the strength in others and have no time for subtlety. He have no need to walk or talk quickly since he's never in danger of being ignored or marginalized.</p>
			
			<p class="headerParagraphy"><span class="headHolder">What Does He Do ?</span><br/><br/>He's an Accountant and a Full Stack Web & Software application Developer. He graduated with a an HND in Accounting from The Lagos State Polytechnic and studied the Computer Programming Management System (CPMS) from Aptech Computer Education System. He's Crazy Pythonista and Djangonaut!. He's passionate about Web Technologies  & data as a whole and as a result he venture into Data Science proper and extremely excited to build your own Web and software Application.</p>
			
			<p class="headerParagraphy">His core expertise is Peech Tree, QuickBook, Toad, Microsoft application, JavaScript, CSS(3), HTML(5), C/C++ and Python. He primarily use Python DJango Web Frameworks while for Front end he uses Bootstrap Framework, Microsoft EXCEL for automating boring stuff along with Python. His strong focus is on accessible and usable Front End Development and Back End Applications based on MVC pattern and always achieving task with limited time .</p>
			
			<p class="headerParagraphy">He had Excellent knowledge in Accounting field through is past experience as an employee at UNIFIED PAYMENTS SERVICE LTD as a Financial Settlemnt officer where He handles data in a large volume  and he had Excellent knowledge in Django, HTML(5) and  CSS(3) as a freelance in Web and application Development. His areas of specific interest include DJango Frameworks, Pure Python and Accounting. thus his currently seeking to join an Organisation to challenge is creative skills and further develop is experience in the field. <a href="resume.html">Find attach is RESUME</a></p>
			
			<p class="headerParagraphy">He is currently interested in engineering user experiences, Data manipulation, Presentation and Analysis and Accounting in general.</p>
			
			<p class="headerParagraphy"><span class="headHolder">Other stuff</span><br/><br/>When he's not coding, he spend as much quality time doing what he loves most. He's a man that enjoy life to its fullest and he's so much hard working. He does'nt Jokes with work while on the field of duty yet full of life… "Is happiness is too expensive to toy with". The followings are his other stuffs:<br/>
				<ul>
					<li>Teaching and Impacting<br/><br/><img src="images/lecturing.jpg" class="otherStuffDoing" />He loves to impact knowledge. He Believes knowledge is power… <br/>From the level of Grade 11 to Profession levels… He loves to teach Mathematics ,  Economics, Accounting and other Calculating subject and any things that is Logical in Nature. <br/>He as being teaching SSCE , WAEC, JAMB, ICAN and ACCA <br/>student  for fun. He’s good at delivery both on 1-on-1 tutoring and<br/> Group teaching. Teaching as being part of him to the extent that he<br/> can’t let go of teaching.</li>
					<br/>
				
					<li>Playing Games <br/><br/><img src="images/cardGame.jpg" class="otherStuffDoing" />He Love playing verieties of game such as
						<ul>
							<li>Board Game: Monopoly, Chase</li>
							<li>Card Games: Whot </li>
							<li>Video Games: Snifor filter4, Rangers, Soccer, James Bond.</li>
							<li>Field Games: Table tennis, Soccer and Basketball </li>
						</ul> 
					</li>
					<br/>
					<br/>
					<br/>
					<br/>
					<li>Reading Books<br/><br/><img src="images/book.jpg" class="otherStuffDoing" />He beliefs that for every problem lies a great opportunity to succeed. That's why he keep searching for the mistry behide life...<br/>BOOKS: <br/>The Game of Life and How to play it | Attitude is Everything |<br/>	The Laws of  Manliness | The Strangest Secret | The Power of spoken word | The Winning Attitude | Laws of Leadership | Thinking for <br/>change | Man search for Himself | As a Man Thinketh | Your word <br/>is your wand | The Secret door to success</li>
					
					<br/>
					<li>Watching Football With Friends<br/><br/><img src="images/manU.jpg" class="otherStuffDoing" />He’s a big fan of MANCHESTER UNITED FC (The Red Devils) …</li>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<li>Playing Football<br/><br/><img src="images/sportMan.jpg" class="otherStuffDoing" />He’s a High driving team player … He had fun playing football<br/> in other to excise the spirit of team work often time … Till now ,<br/> he had played and still playing football with lots of football clubs <br/>in Lagos starting from SUCCESS FC, GANJI FC and office team UNIFIED PAYMENT FC (UP). His best motivator players on how he plays are Davis "Shoot taken: ability to aim below the goal post", JayJay "Dribbling: Habit of self control" ,Vidic "Agility: strategic thinking <br/>of taken one out", Kaka "Pacing: Taking control of one <br/>zone" and Rafael "Crossing ".</li>
					<br/>
					<li>Swimming<br/><br/><img src="images/Swimming.jpg" class="otherStuffDoing" />He’s a fun person that knows what it means to be relief… He just love having funs & Enjoy Life.</li>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<li>Travelling & Adventures<br/><br/><img src="images/takingAride.jpg" class="otherStuffDoing" />He’s an adventurous person (a Great Tourist)… Part of his wish is to travel around the world…He loves to know what’s going on with<br/> other continent to feel how things taste, feels and sound differently….</li>
					
				</ul>
				<br/>
				<br/>
				<br/>
				<br/>
			</p>
			<p class="headerParagraphy">He got stuff spread out on lots of different sites.</p>
			<p class="headerParagraphy"><a href="https://stackoverflow.com/users/6913264/pleasantoladimeji?tab=profile">Stackoverflow</a>: IT Q & A website     |     <a href="www.linkedin.com/sir.oladimeji">LinkedIn</a>: His educational and professional background  | <a href="#">GitHub : </a> Code Resipotory | <a href="https://www.quora.com/profile/Awosanya-Oladimeji-Opeyemi">Quora :</a> Coder Forum | <a href="#">Dribble :</a>Developer Forum | <a href="#">Lagos Game :</a> Meetup Group | <a href="https://www.reddit.com/user/PleasantOladimeji/">Raddit :</a> Comunity</p>
			
		</div>
		<div id="aboutMePageSub2">
			<img src="images/about-me.jpg" id="aboutMeImage" />
			<p class="navPageColor1">HIS CHARACTER<br/> <span class="navPageColor">Powerful, Good looking, Compelling, Courageous, He as a Big heart</span></p>
			<p class="navPageColor1">TOOLS:<span class="navPageColor"> Instinct "MIND",  EXCEL & <span class="navMargin"> CSV, HTML(5), CSS(3),</span><span class="navMargin"> JavaScript, Django with  <span class="navMargin">Bootstrap, Python and C/C++</span></span></span></p>
			<p class="navPageColor1"></p>	
			<article style=" padding-right:5%;">
			{% block bk %}
				<p class="navSettup3">Blog Posts</p>
				<span style="padding-left:15%;margin-right:9%;">
					{% include 'shared_bookmark_list.html' %}
				</span>
				{% endblock bk %}
			</article>
		</div>
	<br/>
	</div>
	<!-- FOOTER  -->
	<footer class="footerPage" style="background-image:url('images/fotmart.jpg'); background-repeat:no-repeat; background-position:center;">
	<br/>
	<ul>
			<li class="footLinks"><b>USEFUL LINKS</b> <br/><br/>
				<p><a href="#" title="">Portfolio</a></p>
				<p><a href="blogs-Oladimeji-Awosanya.html">Blog</a></p>
				<p><a href="About-Me.html">About Oladimeji</a></p>
				<p><a href="#">Soccer Focast Tip</a></p>
				<p><a href="resume.html">Curriculum Vital</a></p>
			</li>
			<li class="footLinks"><b>SERVICES </b><br/><br/>
				<p>Freelancing</p>
				<p>Teaching and Tutoring</p>
			    <p>Data Entry Services</p>
				<p>Data Mining and Scraping</p>
				<p>BookKeeping</p>
				<p>Automating Routing Jobs</p>
				<p>Web Designing & Maintainance</p>
				<p>Software Development</p>
			</li>
				
			
			<li class="footLinks"><b>CONTACTS</b> <br/>
				<br/>
				<p><b>Call On:</b><br/> Phone : 08130234460 | (WHATSAPP)<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09097336680<br/> E-mail: <a href="mailto:tinuk2003@yahoo.com?subject=Enquire From My Website"><span class="email">awosanya.oladimeji@gmail.com</span></a></p>
				<p>
					<a href="www.facebook.com/sir.oladimeji"><img src="images/facebook.png" /></a> 
					<a href="www.googleplus.com/sir.oladimeji"><img src="images/googleplus.png"/></a>
					<a href="www.twitter.com/sir.oladimeji"><img src="images/twitter.png"/></a> 
					<a href="www.linkedin.com/sir.oladimeji"><img src="images/linkedin.png"/></a>
				</p>
			</li>
		</ul>
	</footer>
	<div>
	<p style="color:red; text-align:center;"> Copyright &copy 2018 <img src="images/MYLOGO.png " height ="45px"/>. All right reserved </p>
	</div>
</body>
</html>